/* background color */
body {
    background-color: white;
}

/* navigation bar */
#nav { 
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    list-style: none;
    background-color: black;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

#nav li {
    display: inline-block;
    text-align: center;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color:white;
    border-right: 1px solid #000;
}

li a:hover {
    background-color:black; 
}

/* margins */
h1 {
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    margin-left: 10%;
    margin-right: 10%;
}

h4 {
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-left: 20%;
    margin-right: 20%;
}

/* (PAGE TITLE) the fashion archive */
h1 {
    color: rgb(0, 0, 0);
    font-family: 'News Cycle', sans-serif;
    font-size: 250%;
    text-align: center; 
}

/* (SUBTITLE) a look into my current mind of fashion */
h4 {
    color: rgb(0, 0, 0);
    font-family:'Archivo Narrow', sans-serif;
    font-size: 80%;
    text-align: center;
}

/*(SECTION HEADER) why fashion?*/
h2 {
    color:rgb(0, 0, 0);
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 200%;
}

/* PARAGRAPH TEXT (why fashion?)*/
p {
    color:black;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    font-size: 150%;
}

 /* styles for smaller screens */
 @media only screen and (max-width: 500px) {
}
